<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }}{{ $url := urls.Parse .Page.Permalink }}{{ $url.Path }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">

    <link rel="stylesheet" href="{{ "qev-theme/css/qev.css" | absURL }}">

    {{ `
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    ` | safeHTML }}

    {{- partial "favicon.html" . -}}
    {{ with .OutputFormats.Get "RSS" }}
      {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end }}

    {{- partial "header.html" . -}}
    {{ if not .Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}
    
    </head>
<body class="qev">
    <div class="container">
        <div class="qev-nav">
          <header >
            <div > 
              {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
              {{ $.Scratch.Add "path" .Site.BaseURL }}
              <a href="{{ .Site.BaseURL }}"  class="site-title {{ with .Site.Params.TitleCutting }}site-name{{ end }}">{{ .Site.Title }}</a>
</div></header>
          <nav class="qev-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                {{ range .Site.Params.navlinks }}
                <li><a href="{{ absURL .url }}" typeof="ListItem">{{ .name }}</a></li>
                {{ end }}
            </ul>
          </nav>
        </div>
</div>
    </div>

    <div class="container" >
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer.html" . }}
    </div>
  </body>
</html>
