{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ .Content }}
        {{ range sort .Data.Pages "Date" "desc" }}
<div class="divider"></div>
{{ if .Page.Title }}
<h2> {{ .Page.Title }} </h2>
<br>
{{ end }}
<div class="gallery2-row">
      {{ range sort .Page.Pages "Date" "desc" }}
  <div class="gallery2-column">


         {{ if and (isset .Params "image") .Params.image }}

               <a href="{{ .Permalink }}" title="{{ .Title }}">

		  {{ $image := .Page.Resources.GetMatch .Params.image }}
		  {{ with $image }}
                  {{ $thumb := .Resize "400x" }}
		  <div class="gallery2-img-thumb">
			<img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
		  </div>
               </a>

         {{ end }}
  </div>
 
    {{ end }}
  {{ end }}
</div>

  {{ end }}

{{ end }}
